.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(129, 129, 129);
}
.about h1{
  margin: 0;
  font-size: 3rem;
}