@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: rebeccapurple
}
.links{
  display: flex;
  gap: 4rem;
  font-size: 2rem;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: rgb(109, 109, 109);
}

.posts-items, .details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  min-height: 100vh;
  background-color: rgb(129, 129, 129);
}
.details{
  align-items: center;
}

.post-item{
  background-color: #5f5f5f;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.post-item:hover{
  border-left: solid 3px white;
}

